* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.box-line {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    color: white;
    background: #13ace2;
    margin-top: 15%;
    z-index: 1;
}

.logo {
    margin-top: 2.5%;
    height: 130px;
    width: 200px;
    margin-left: 30%;
}

.caja-login {
    z-index: 2;
    margin-top: -25%;
    margin-left: 17%;
    width: 530px;
    height: 600px;
    background: white;
    border-radius: 25px;
    box-shadow: 0 0 30px 15px rgba(204, 204, 204, 0.2);
}

.flex {
    display: flex;
    justify-content: center;
    align-content: center;
}

.txt {
    font-size: 15pt;
    color: #b2b2b2;
    font-weight: bold;
    margin-bottom: 30px;
}

.btns {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10%;
}

.btn1 {
    border: 1px solid #13ace2;
    padding: 10px 65px;
    border-radius: 20px;
    text-decoration: none;
    outline-style: none;
    color: #13ace2;
    transition: .5s;
}

.btn2 {
    border: 1px solid #b2b2b2;
    padding: 10px 45px;
    border-radius: 20px;
    text-decoration: none;
    outline-style: none;
    color: #b2b2b2;
    transition: .5s;
}

.btn3 {
    background: #13ace2;
    padding: 12px 65px;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
}

.btn1:hover {
    text-decoration: none;
    background: #13ace2;
    color: white;
}

.btn2:hover {
    text-decoration: none;
    background: #b2b2b2;
    color: white;
}

.input {
    width: 80%;
    height: 45px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 1px solid #b2b2b2;
    text-align: start;
    padding-left: 30px;
    font-size: 16px;
}

.btn3:hover {
    opacity: 0.5;
}