* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.all {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.ml {
    margin-left: 20px;
    padding-top: 2px;
}

.menu {
    width: 20%;
    border-right: 1px solid #b2b2b2;
}

.contenido {
    display: block;
    height: 90vh;
    padding-top: 8%;
    padding-right: 50px;
    margin-left: 10%;
    margin-right: auto;
    margin-top: 20px;
}

.btnm {
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    background: white;
    color: #13ace2;
    cursor: pointer;
    border: 1px solid #13ace2;
    transition: 0.5s;
    margin-right: 40px;
}

.brdb {
    border-bottom: .5px solid #b2b2b2;
    transition: 0.5s;
}

.btnm:hover {
    background: #13ace2;
    color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.activebtn {
    background: #13ace2;
    color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.tabla {
    display: block;
    justify-content: space-between;
}

.mtm {
    margin-top: 50px;
    margin-left: 10px;
}

.lbltabla {
    padding-right: 70px;
    padding-left: 70px;
    padding-bottom: 15px;
    color: #b2b2b2;
}

.lbltabla1 {
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 15px;
    color: #b2b2b2;
}

.lblr {
    color: orange;
}

.lble {
    color: #13ace2;
}

.txtp {
    color: #13ace2;
    font-size: 40px;
    font-weight: normal;
}

.txts {
    color: #13ace2;
    font-size: 50px;
    font-weight: normal;
}

.txtc {
    color: #b2b2b2;
    font-size: 35px;
    font-weight: normal;
}

.txtf {
    color: #b2b2b2;
    font-size: 20px;
    font-weight: normal;
}

.mt {
    margin-top: 20px;
}

.flex {
    display: flex;
    justify-content: center;
}

.margin-left-arrow {
    margin-left: 65%;
}

.flex i {
    color: #b2b2b2;
}

.flex i:hover {
    cursor: pointer;
}

.logo {
    width: 50px;
    height: auto;
}

.usertxt {
    color: #13ace2;
    font-weight: normal;
}

.btn-border {
    border-bottom: 1px solid #b2b2b2;
}

.btn {
    width: 80%;
    font-size: 20px;
    padding: 20px 15px;
    text-decoration: none;
    color: #b2b2b2;
    transition: 0.5s;
}

.btn:hover {
    background: #13ace2;
    color: white;
    border-radius: 20px;
}

.active {
    color: #13ace2;
}

.btn-exit {
    color: #ff8080;
    border: none;
    cursor: pointer;
    background: transparent;
    font-size: 16px;
}

.txt-copy {
    color: #b2b2b2;
}